#titlebar{
    text-align: center;
    background-color: salmon;
    color: white;
    height: 100px;
}
body{
  background-image: url("waves.png");
}

#nameplate{
  font-size: 95px;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}


  .images{
    height: 259px;
    width: 365px;
    box-shadow: 0 5px 5px black;
    padding: 1px;
    position: relative;
    left: 77px;
  }
  .placeContainer{
    background-color: #E8E8E8;
    height: 368px;
    margin: 15px auto;
    border-top: 15px solid black;
    box-shadow: 0 0 5px;
    padding: 5px;
    width: 881px;
    
  }
  

  .detail-container{
    background-color: transparent;
    height: 175px;
    top: 23px;
    left: 567px;
    width: 185px;
    position: relative;
  }
  
h4{
  border-bottom: solid black;
    border-bottom-width: thin;
}



  .searchResult-Container {
    text-align: center;
  }
  .imageDiv{
    top: -169px;
    left: -237px;
    position: relative;
  }
  .address{
    top: -281px;
    left: 521px;
    position: relative;
    border-top: solid darkgrey;
    border-top-width: thin;
    width: 280px;
    padding: 20px;
  }

  #searchDiv{
    text-align: center;
  }

  #searchBTN{
    background-color: #e17366;
  }
  
  #cityInfos{
    background-color: white;
    display: block;
    width: 400px;
    height: 124px;
    margin: 10px;
    margin: 0 auto;
    text-align: center;
    border-top: solid lightgrey;
    border-width: thin;
    border-bottom: solid lightgrey;
    border-bottom-width: thin;
    visibility: hidden;
    box-shadow: 0 0 10px;
  }